microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 125
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpayrewardnotification/(.*)
    servicePort: 8080

  serviceAccount:
    create: false
    annotations: { }
    name: ""

  podAnnotations: { }

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  envConfig:
    MONGODB_DBNAME: "idpay"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpayrewardnotification"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    KAFKA_REFUND_RULE_REQUEST_GROUP_ID: "idpay-rewards-notification-rule-consumer-group"
    KAFKA_REWARD_RESPONSE_GROUP_ID: "idpay-rewards-notification-transaction-group"
    KAFKA_CHECKIBAN_OUTCOME_GROUP_ID: "idpay-rewards-notification-checkiban-out-group"
    KAFKA_REWARD_NOTIFICATION_UPLOAD_GROUP_ID: "idpay-reward-notification-storage-group"
    KAFKA_COMMANDS_GROUP_ID: "idpay-commands-reward-notification-consumer-group"
    EXPORT_BASE_PATH: ""
    DELETE_PAGINATION_SIZE: "45"
    DELETE_DELAY_TIME: "1000"
    HEALTH_MONGO_ENABLED: "false"

  externalConfigMapValues:
    idpay-common:
      TZ: TZ
    idpay-eventhub-01:
      KAFKA_BROKER: kafka_broker
      KAFKA_CONFIG_SASL_MECHANISM: kafka_sasl_mechanism
      KAFKA_REFUND_RULE_REQUEST_BROKER: kafka_broker
      KAFKA_REFUND_RULE_REQUEST_TOPIC: idpay_rule_update_topic
      KAFKA_REWARD_RESPONSE_BROKER: kafka_broker
      KAFKA_ERRORS_BROKER: kafka_broker
      KAFKA_ERRORS_TOPIC: idpay_error_topic
      KAFKA_REWARD_NOTIFICATION_UPLOAD_BROKER: kafka_broker
      KAFKA_REWARD_NOTIFICATION_UPLOAD_TOPIC: idpay_reward_notification_storage_events_topic
      KAFKA_REWARD_NOTIFICATION_FEEDBACK_BROKER: kafka_broker
      KAFKA_REWARD_NOTIFICATION_FEEDBACK_TOPIC: idpay_reward_notification_response_topic
      KAFKA_COMMANDS_BROKER: kafka_broker
      KAFKA_COMMANDS_TOPIC: idpay_commands_topic
    idpay-eventhub-00:
      KAFKA_BROKER_00: kafka_broker
      KAFKA_CHECKIBAN_OUTCOME_TOPIC: idpay_checkiban_outcome_topic
      KAFKA_REWARD_RESPONSE_TOPIC: idpay_transaction_topic

    rest-client:
      PDV_BASE_URL: pdv_decrypt_base_url
      SELC_BASE_URL: selc_base_url
      EMAIL_NOTIFICATION_MS_HOST: email_notification_ms_host
      WALLET_MS_HOST: idpay_wallet_host
      MERCHANT_MS_HOST: idpay_merchant_host

  envSecret:
    MONGODB_URI: mongodb-connection-string
    KAFKA_REFUND_RULE_REQUEST_SASL_JAAS_CONFIG: evh-idpay-rule-update-idpay-rule-update-consumer-jaas-config-idpay-01
    REWARD_RESPONSE_SASL_JAAS_CONFIG: evh-idpay-transaction-idpay-transaction-consumer-jaas-config-idpay-00
    KAFKA_CHECKIBAN_OUTCOME_SASL_JAAS_CONFIG: evh-idpay-checkiban-outcome-idpay-checkiban-outcome-consumer-jaas-config-idpay-00
    KAFKA_ERRORS_SASL_JAAS_CONFIG: evh-idpay-errors-idpay-errors-producer-jaas-config-idpay-01
    KAFKA_REWARD_NOTIFICATION_UPLOAD_SASL_JAAS_CONFIG: evh-idpay-reward-notification-storage-events-idpay-reward-notification-storage-consumer-jaas-config-idpay-01
    KAFKA_REWARD_NOTIFICATION_FEEDBACK_SASL_JAAS_CONFIG: evh-idpay-reward-notification-response-idpay-reward-notification-response-producer-jaas-config-idpay-01
    KAFKA_COMMANDS_SASL_JAAS_CONFIG: evh-idpay-commands-idpay-commands-consumer-jaas-config-idpay-01
    PDV_DECRYPT_API_KEY: pdv-api-key
    SELC_EXTERNAL_API_KEY: selc-external-api-key
    EXPORT_AZURE_STORAGE_CONNECTION_STRING: refund-storage-blob-connection-string

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json